.title-header {
    background-color: #FFD93D;
    color: #3E2723;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 12px 0px;
    border-radius: 0;
    width: 100%;
}

.title-container h1 {
    line-height: 92px;
    margin: 0;
}