.activity-draw-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #BDBDBD;
    transition: 0.2s;
}

.color.active {
    border: 3px solid #6D4C41;
}

.sketchbook {
    background-image: url('../image/background/스케치북\ 그림판.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 650px;
    height: 430px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 85px;
    width: 600px;
    height: 300px;
    border: none;
}

.toolbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.tools,
.sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 17px 12px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.tools img {
    width: 36px;
    height: 36px;
    margin: 14px 0;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 0.2s, opacity 0.2s;
}

.tools img.active {
    opacity: 1;
    transform: scale(1.3);
}

.size {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #BDBDBD;
    margin: 19.5px 0;
    cursor: pointer;
    transition: 0.2s;
}

.size:nth-of-type(1){
    width: 15px;
    height: 15px;
}

.size:nth-of-type(2){
    width: 20px;
    height: 20px;
}

.size:nth-of-type(3){
    width: 25px;
    height: 25px;
}

.size:nth-of-type(4){
    width: 30px;
    height: 30px;
}

.size:nth-of-type(5){
    width: 35px;
    height: 35px;
}

.size.active {
    background-color: #6D4C41;
}

.save-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}