.activity-AI-section {
    text-align: center;
    padding-bottom: 50px;
}

.title-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.loading-bar {
    width: 50%;
    height: 18px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 0px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.loading-progress {
    width: 0%;
    height: 100%;
    background-color: #6D4C41;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    transition: width 3s ease-in-out;
}

.ai-result {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.8s ease-in-out;
}

.ai-result.active {
    display: flex;
}

.emotion-icon {
    width: 160px;
    height: 160px;
    background-image: url('../image/emotion/기쁨.png');
    background-size: cover;
    background-position: center;
    margin: -20px 0 20px;
}

.emotion-text {
    font-size: 26px;
    font-weight: bold;
    color: #3E2723;
    font-size: 35px;
    margin: -10px 0 30px;
    background: none;
    background-color: transparent;
}

.emotion-island {
    width: 270px;
    height: 270px;
    background-image: url('../image/island/기쁨섬\ 미니.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}