.activity-gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}

.gallery-image {
    width: 840px;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}