.back-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    border-radius: 1000px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background: url("../image/button/뒤로가기\ 버튼.png") no-repeat center / cover;
    transition: background-image 0.2s ease;
}

.back-button:hover {
    background-image: url("../image/button/뒤로가기\ 버튼\ 클릭.png");
    transform: translateY(-50%) scale(1.1);
}