.control-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.control-button:hover {
    transform: scale(1.1);
}

#rewindButton {
    background-image: url(../image/button/음악\ 이전\ 버튼.png);
}

#playPauseButton {
    background-image: url(../image/button/재생버튼.png);
}

#forwardButton {
    background-image: url(../image/button/음악\ 다음\ 버튼.png);
}