/*diary-section*/
.diary-section {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}

.diary-card {
    background-color: #8D6E63;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 35px;
    width: 100%;
    max-width: 900px;
}

.diary-item {
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.diary-item:hover {
    transform: scale(1.03);
}

.diary-item img {
    width: 100%;
    height: auto;
    display: block;
}

.diary-item p {
    background-color: #4E342E;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}


.diary-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.diary-modal-content {
    display: block;
    max-width: 90%;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.diary-close {
    position: absolute;
    top: 50px;
    right: 400px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.diary-close:hover {
    color: #BDBDBD;
}