.angry-balloon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
}

.speech-bubble {
    background-image: url('../image/introduce/말풍선3.png');
    width: 340px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin: 10px auto -30px auto;
}

.bubble-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3E2723;
    font-weight: 600;
    font-size: 15px;
}

.balloon-grid {
    background-color: #FEE3AE;
    border-radius: 50px;
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.balloon {
    width: 100px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.balloon.yellow {
    background-image: url('../image/activity/balloon/노란풍선.png');
}

.balloon.blue {
    background-image: url('../image/activity/balloon/파란풍선.png');
}

.balloon.red {
    background-image: url('../image/activity/balloon/빨간풍선.png');
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-6px);
    }

    50% {
        transform: translateX(6px);
    }

    75% {
        transform: translateX(-6px);
    }
}

.shake {
    animation: shake 0.3s;
}

.pop-grow {
    transform: scale(1.1);
}

.pop-hide {
    opacity: 0;
    transform: scale(1.3);
    transition: opacity 0.5s ease, transform 0.5s ease;
}