.select-button {
    display: none;
    background-color: #FFCF33;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #3E2723;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    cursor: not-allowed;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.select-button svg {
    margin-left: 6px;
    vertical-align: middle;
}

.select-button.show {
    display: inline-flex;
    opacity: 1;
    cursor: pointer;
    transform: translateY(-3px);
}

.select-button:hover {
    transform: translateY(-5px);
    background-color: #E9BB00;
}