/*home*/
body {
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF9C4;
    color: #3E2723;
}


/*header*/
header{
    background-color: #FFF0C9;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - clamp(0px, 0px, 380px) * 2, 1160px);
    margin: 0 auto;
    /* padding: 0 clamp(1px, 19.8vw, 380px); */
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 200px;
    margin-right: 10px;
}

.menu-toggle {
    display: none;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
    color: #3E2723;
    transition: transform 0.3s ease;
    z-index: 10000;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: #3E2723;
    font-weight: 600;
    padding: 10px 20px;
}

nav a:hover {
    color: white;
    background-color: #8D6E63;
    border-radius: 1000px;
}


/*banner*/
banner {
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 0;
}

banner img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.3;
    word-break: keep-all;
    white-space: normal;
    margin-bottom: 50px;
}


/*main*/
.main-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px 0;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h2 {
    background-color: #8D6E63;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    width: 510px;
}

.card {
    background-image: url(../image/background/종이\ 질감\ 배경.png);
    background-size: cover;
    background-position: center;
    width: 550px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    gap: 20px;
}

.card img {
    width: 30%;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
}


/*footer*/
footer {
    background-color: #FFF9C4;
    padding: 20px 50px;
    font-size: 0.8rem;
    color: #3E2723;
}

footer hr {
    border: none;
    border-top: 1px solid #3E2723;
    margin-bottom: 15px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 200px;
}

.footer-container p {
    margin: 0;
    line-height: 1.4;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
}

.contact a {
    color: #3E2723;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}