.worry-doll-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.speech-bubble {
    background-image: url('../image/introduce/말풍선3.png');
    width: 340px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin: 10px auto -30px auto;
}

.bubble-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3E2723;
    font-weight: 600;
    font-size: 15px;
}

.draw {
    background-color: #FEE3AE;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    align-content: start;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #BDBDBD;
    transition: 0.2s;
}

.color.active {
    border: 3px solid #6D4C41;
}

.doll {
    background-image: url('../image/activity/doll/인형\ 도안.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: 500px;
    margin-top: -40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    position: absolute;
    top: 85px;
    width: 470px;
    height: 290px;
    border: none;
}

.toolbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tools,
.sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 17px 12px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.tools img {
    width: 36px;
    height: 36px;
    margin: 13px 0;
    cursor: pointer;
    opacity: 0.7;
    transition: transform 0.2s, opacity 0.2s;
}

.tools img.active {
    opacity: 1;
    transform: scale(1.25);
}

.size {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #BDBDBD;
    margin: 19px 0;
    cursor: pointer;
    transition: 0.2s;
}

.size[data-size="2"] {
    width: 12px;
    height: 12px;
}

.size[data-size="5"] {
    width: 18px;
    height: 18px;
}

.size[data-size="10"] {
    width: 24px;
    height: 24px;
}

.size[data-size="15"] {
    width: 30px;
    height: 30px;
}

.size[data-size="20"] {
    width: 36px;
    height: 36px;
}

.size.active {
    background-color: #6D4C41;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}