.worry-music-result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    text-align: center;
}

.result-music {
    width: 200px;
    height: 200px;
    margin-top: 110px;
    background-image: url('../image/activity/music/동요\ 가사판.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: bounce 1.5s ease-in-out infinite alternate,
        glow 1.5s ease-in-out infinite;
}

.result-music::before {
    content: "";
    position: absolute;
    bottom: -140px;
    left: 40%;
    transform: translateX(-50%);
    width: 500px;
    height: 480px;
    background-image: url('../image/background/팡파레.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
}

@keyframes glow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.result-text {
    font-size: 24px;
    font-weight: 600;
    color: #3E2723;
    margin-top: 180px;
    margin-bottom: 40px;
}