.worry-music-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.speech-bubble {
    background-image: url('../image/introduce/말풍선3.png');
    width: 340px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin: 10px auto -30px auto;
}

.bubble-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3E2723;
    font-weight: 600;
    font-size: 15px;
}

.music {
    background-color: #FFD93D;
    border-radius: 10px;
    border: 3px solid #6D4C41;
    padding: 20px;
}

.music-player {
    background-color: #FEE3AE;
    border-radius: 30px;
    padding: 50px 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lyrics-board {
    width: 320px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 4px 4px 0 0;
    border: 3px solid #6D4C41;
}

.music-bar {
    width: 320px;
    height: 8px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid #6D4C41;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.music-progress {
    height: 8px;
    width: 0%;
    background-color: #6D4C41;
    transition: width 0.2s linear;
}

.music-controls {
    display: flex;
    gap: 40px;
    justify-content: center;
}